*{
    margin: 0;
    padding: 0;
}
body{
    min-height: 100vh;
    font-family: serif;
    background-color: rgb(32, 30, 30);
    background-image: url(../images/about.jpg);
    background-position: top;
    background-size: cover;
    display: block;
}

/*CONTENT*/
#welcome{
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center;
    width: fit-content;
    margin: 10% auto;
}
h1{
    display: inline-block;
    position: relative;
    color: white;
    font-size: 8vw;
    font-weight: bold;
    letter-spacing: 3px;  
    text-align: center;
    border-right: 3px solid;
    /*animation*/
    width: 100%;
    height: inherit;
    white-space: nowrap;
    overflow: hidden;
    animation:
        typing 2s steps(19),
        cursor .4s step-end infinite alternate;
}
@keyframes cursor{
    50% {border-color: transparent}
}
@keyframes typing{
    from {width: 0}
}

section{
    height: inherit;
}
h2{
    color: rgb(32, 30, 30);
    font-size: 6.5vw;
    font-weight: bold;
}
p.caption{
    font-style: italic;
    padding-bottom: 3%;
}
.post-content{
    max-width: max-content; 
    margin: 0 5%;
}
.post-content img{
    display: block;
    max-width: 250px;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 3px;
}
.post-content h2, .post-content .caption{
    text-align: center;
    justify-content: center;
}
.post-content p{
    text-indent: 30px;
    margin-bottom: 20px;
    text-align: justify;
}
.post{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5% 0;
}

.reviews h2{
    color: rgb(32, 30, 30);
    text-align: center;
    justify-content: center;
    margin-bottom: 35px;
}

.reviews li{
    margin-bottom: 20px;
}

#update{
    color: #6c757d;
}
#update:hover{
    color: #50585d;
}

#delete{
    color: #dc3545;
}
#delete:hover{
    color: #b21f2d;
}

#rev{
    color: darkmagenta;
}
#rev:hover{
    color: rgb(95, 1, 95);
}
        

.reviews{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fae6fa;
    padding: 5%;
}

.post:nth-child(odd) {
    background-color: #ffe6e6; 
}

.post:nth-child(even) {
    background-color: #e1afd1; 
}

/*FOOTER*/
footer{
    color: white;
    padding: 20px;
    text-align: center;
}
footer p, footer a{
    margin: 10px 0;
    color: white;
    text-decoration: none;
}
footer a:hover{
    text-decoration: underline;
}
footer address{
    margin-bottom: 20px;
}
footer .copyright{
    font-size: 13px;
    margin-top: 20px;
}

/*ANIMATIONS AND TRANSITIONS*/
@keyframes scaleAnimation {
    0% { transform: scale(1); }
    50% { transform: scale(0.8); }
    100% { transform: scale(1); }
}
.post img{
    animation: scaleAnimation 4s infinite alternate;
}
@keyframes fadeAnimation {
    0% { opacity: 1; }
    50% { opacity: 0.4; }
    100% { opacity: 1; }
}
.post:nth-child(even) img{
    animation: fadeAnimation 5s infinite alternate;
}

/*RESPONSIVENESS*/
@media (min-width: 400px){
    .post-content img{
        float: left;
    }
}
@media (max-width: 800px){
    #welcome{
        margin: 13% auto;
    }
    h2{
        font-size: 9vw;
    }
    .first, .second, .third, .fourth, .fifth{
        display: grid;
        align-content: center;
        justify-content: center;
        align-items: center;
        justify-items: center;
    }
    .first img, .second img, .third img, .fourth img, .fifth img{
        margin: 3% auto;
    }
    .first p, .second p, .third p, .fourth p, .fifth p{
        font-size: 18px;
    }
    p.caption{
        font-size: 12px;
    }
}
@media(max-width: 600px){
    .reviews{
        padding: 10%;
    }
}
@media (max-width: 400px){
    #welcome{
        margin: 20% auto;
    }
    h2{
        font-size: 10vw;
    }
    .first img, .second img, .third img, .fourth img, .fifth img{
        display: block;
        height: auto;
        margin: 3% auto;
        max-width: 200px;
    }
    .first p, .second p, .third p, .fourth p, .fifth p{
        font-size: 14px;
    }
    p.caption{
        font-size: 11px;
    }
    footer{
        font-size: 16px;
    }
    footer address{
        font-size: 15px;
    }
    footer .copyright{
        font-size: 11px;
    }
}
@media(min-width: 800px){
    .first p, .second p, .third p, .fourth p, .fifth p{
        font-size: 20px;
    }
    p.caption{
        font-size: 15px;
    }
}