/* Reset margins and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Ensure padding and borders do not affect element width */
}

body {
    min-height: 100vh;
    font-family: serif;
    background-color: #ffe6e6;
    background-position: top;
    background-size: cover;
}

/* Content */
#welcome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: fit-content;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3%;
}

h1 {
    display: inline-block;
    position: relative;
    color: rgb(20, 20, 20);
    font-size: 5vw;
    font-weight: bold;
    letter-spacing: 3px;  
    text-align: center;
}

.post p.caption {
    font-style: italic;
    font-size: 2.5vh;
    display: grid;
    justify-content: center;
}

img {
    display: block;
    max-width: 500px;
    height: auto;
    margin: 20px auto;
}

.post {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3%; 
    padding-top: 1%;
}

.post p {
    text-indent: 30px;
    font-size: 2.5vh;
    margin-bottom: 20px;
    text-align: justify;
    width: 100%; 
}

/* Footer */
footer {
    color: white;
    padding: 20px;
    text-align: center;
    background-color: rgb(58, 8, 121);
}

footer p, footer a {
    margin: 10px 0;
    color: white;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

footer address {
    margin-bottom: 20px;
}

footer .copyright {
    font-size: 13px;
    margin-top: 20px;
}

/*RESPONSIVENESS*/
@media(max-width: 600px){
    img{
        max-width: 300px;
    }
}
@media (max-width: 400px){
    img{
        max-width: 200px;
    }
    footer{
        font-size: 16px;
    }
    footer address{
        font-size: 15px;
    }
    footer .copyright{
        font-size: 11px;
    }
}