<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chatbot</title>
    {% load static%}
    <link rel="stylesheet" href="{% static 'css/chatbot.css'%}">
    <link rel="stylesheet" href="{% static 'css/menu.css' %}">
    <script src="{% static 'js/menu.js' %}"></script>
</head>
<body>
    <header>
        <nav>
            <ul class="sidebar">
                <li onclick=hideSidebar()><a href="#"><svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24"><path d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"/></svg></a></li>
                <li><a href="{% url 'home' %}">HOME</a></li>
                <li><a href="{% url 'about' %}">ABOUT</a></li>
                <li><a href="{% url 'gallery' %}">GALLERY</a></li>
                <li><a href="{% url 'form' %}">FORM</a></li>
                <li><a href="{% url 'chatbot' %}">QUESTIONS</a></li>
            </ul>
            <ul>
                <li><a href="#">Miruna's Blog</a></li>
                <li class="hideOnMobile"><a href="{% url 'home' %}">HOME</a></li>
                <li class="hideOnMobile"><a href="{% url 'about' %}">ABOUT</a></li>
                <li class="hideOnMobile"><a href="{% url 'gallery' %}">GALLERY</a></li>
                <li class="hideOnMobile"><a href="{% url 'form' %}">FORM</a></li>
                <li class="hideOnMobile"><a href="{% url 'chatbot' %}">QUESTIONS</a></li>
                <li class="menu-button" onclick=showSidebar()><a href="#"><svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24"><path d="M120-240v-80h720v80H120Zm0-200v-80h720v80H120Zm0-200v-80h720v80H120Z"/></svg></a></li>
            </ul>
        </nav>
    </header>
    <main>
        {% block content%}
        <div id="welcome">
            <h1>Questionnaire</h1>
        </div>
        <div class="chat-container" id="chat-container">

        </div>
        <form id="chat-form">
            <input type="text" id="user-input" placeholder="Answer here...">
            <button type="submit">Submit</button>
        </form>
        <script src="{% static 'js/chatbot.js' %}"></script>
        {% endblock %}
    </main>
    <footer>
        <p>For inquiries, please contact me.</p>
            <address>
                <a href="mailto:mes.miruna@gmail.com">E-mail</a>
                <br><a href="tel:+40747544865">Phone number</a>
            </address>
        <p class="copyright">&copy; 2024 Miruna - Blog</p>
    </footer>
</body>
</html>